/*  reset */
* {
    box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide slides by default */
.mySlides {
    display: none;
}

/* Navigation arrows */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    background-color: rgba(0,0,0,0.3);
}

.prev {
    left: 0;
    border-radius: 0 15px 15px 0;
}

.next {
    right: 0;
    border-radius: 15px 0 0 15px;
}

.prev:hover, .next:hover {
    background-color: black;
}

/* Caption text */
.text {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 8px;
    color: white;
    font-size: 25px;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
}

/* Number text */
.numbertext {
    position: absolute;
    top: 0;
    padding: 8px;
    color: white;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.7);
}

/* Navigation dots */
.dotbar {
    text-align: center;
    padding: 15px 0;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.active, .dot:hover {
    background-color: #333;
}

.fbimg {
    width: 100%;
}

/* Fade animation */
.fade {
    animation: fade 0.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}